<?xml version="1.0"?>
<robot name="Amigo_Arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="AmigoArmControl" params="hardware_plugin:='cubemars_hardware/CubeMarsSystemHardware' can_interface:='can0'">

    <!--4 DOF Arm-->
    <ros2_control name="arm_4DOF" type="system">
      <hardware>
        <plugin>${hardware_plugin}</plugin>
        <param name="can_interface">${can_interface}</param>
      </hardware>
      <joint name="joint1">
        <param name="can_id">1</param>
        <param name="pole_pairs">14</param>
        <param name="gear_ratio">36</param>
        <param name="kt">0.11</param>
        <param name="enc_off">0</param> <!-- Offset in radians, found by using the upper computer software-->
        <param name="trq_limit">24</param>

        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="acceleration"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="temperature"/>
      </joint>
      <joint name="joint2">
        <param name="can_id">2</param>
        <param name="pole_pairs">14</param>
        <param name="gear_ratio">36</param>
        <param name="kt">0.11</param>
        <param name="enc_off">0</param> <!-- Offset in radians, found by using the upper computer software-->
        <param name="trq_limit">24</param>

        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="acceleration"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="temperature"/>
      </joint>
      <joint name="joint3">
        <param name="can_id">3</param>
        <param name="pole_pairs">14</param>
        <param name="gear_ratio">36</param>
        <param name="kt">0.11</param>
        <param name="enc_off">0</param> <!-- Offset in radians, found by using the upper computer software-->
        <param name="trq_limit">24</param>

        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="acceleration"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <state_interface name="temperature"/>
      </joint>
    </ros2_control>

  </xacro:macro>
</robot>
